@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS dari file lama Anda */
body { -webkit-tap-highlight-color: transparent; background-color: #f3f4f6; }
.hide-scroll::-webkit-scrollbar { display: none; } .hide-scroll { -ms-overflow-style: none; scrollbar-width: none; }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance: textfield; }

/* Fix untuk Export Gambar/PDF agar rapi */
.print-table { display: none; }